<ng-container *ngIf="(productsFavorites$ | async) as products">
  <div class="container">
    <div class="grid">
      <ng-container *ngFor="let item of products">
        <mat-card class="card">
          <img (click)="onClickNavigateDetails(item.id)" [src]="item.image" [alt]="item.title" />
          <mat-card-content>
            <h2 (click)="onClickNavigateDetails(item.id)">
              {{item.title}}
            </h2>
          </mat-card-content>
          <div class="card-footer">
            <div>
              <h3>$ {{item.price}}</h3>
            </div>
            <div>
              <button mat-icon-button class="favorite-icon" class="active" aria-label="Fevorite" (click)="toggleFavorite(item)">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-icon-button aria-label="My cart">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
</ng-container>
