.container {
    padding: 16px;

    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px 0;

        .card {
            width: 15%;

            img {
                height: 150px;
                width: auto;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                display: flex;

                &:hover {
                    cursor: pointer;
                }
            }

            h2 {
                font-size: 18px;
                white-space: nowrap;
                text-overflow: ellipsis; 
                overflow: hidden;
                margin-top: 10px;
                &:hover {
                    cursor: pointer;
                    color: #673ab7;
                }
            }

            .card-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3 {
                   color: #821212;
                }
                
                button {
                    margin-left: 10px;
                    background-color: transparent;
                    border: none;

                    &:hover {
                        cursor: pointer;
                        color: #673ab7;
                    }
                }
            }
        }

        @media (max-width: 998px) {
            .card {
                width: 45%;
            }
        }

        @media (max-width: 790px) {
            .card {
                width: 100%;
            }
        }
    }
}